/* add css styles here */
.page-content {
    margin: 18%;
    text-align: center;
}

.page-content p {
    font-size: 20px;
    font-weight: bold;
}

.start-game {
    border-radius: 15px;
    background-color: purple;
    color: white;
    width: 25%;
    height: 30px;
    font-size: larger;
}

.quiz-content {
    text-align: center;
    font-size: larger;
}

.choices button {
    font-size: small;
    background-color: purple;
    color:white;
}

.quiz-actions {
    font-size: small;
    background-color: purple;
    color: white;
}