/* add css styles here */
.page-content {
    margin: 18%;
    text-align: center;
}

.page-content p {
    font-size: 20px;
    font-weight: bold;
}

.start-game {
    border-radius: 15px;
    background-color: purple;
    color: white;
    width: 25%;
    height: 30px;
    font-size: larger;
}

.quiz-content {
    text-align: center;
    font-size: larger;
}

.choices {
    margin: 10px;
}

.choices button {
    padding: 10px;
    display: block;
    margin: 5px auto;
    border-radius: 15px;
    font-size: small;
    background-color: purple;
    color:white;
}

.quiz-actions {
    font-size: small;
    background-color: purple;
    color: white;
}

.question {
    font-size: 30px;
    font-weight: bold;
}

